spring:
  application:
    name: initiations-api
  temporal:
    connection:
      # Connection settings
      target: ${TEMPORAL_ADDRESS:localhost:7233}

      # API Key for Temporal Cloud
      api-key: ${TEMPORAL_API_KEY:}

    start-workers: false
    namespace: ${TEMPORAL_NAMESPACE:default}

server:
  port: 8080
  shutdown: graceful
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.temporal.initiations: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
  metrics:
    export:
      prometheus:
        enabled: true
